<p>Olá <%= @user.name %>,</p>

<p>Para acessar o sistema AchieveMore você deverá atualizar sua senha.<br/>
Ao acessar o link abaixo, informe qual deverá ser a sua senha para utilizar o sistema.</p>

<p>Clique no link abaixo para redefinir sua senha usando o nosso servidor seguro.<br/>
<%= link_to @url, @url %></p>

<p>(Se o link acima não funcionar, você pode copiar e colá-lo na barra de
endereço do seu navegador, ou então digitá-lo novamente por lá)</p>

<p>Após atualizá-la, você será conectado imediatamente.</p>

<p>Atenciosamente<br/>
Suporte AchieveMore</p>
